[global]

#All clusters have a front-side public network.
#If you have two NICs, you can configure a back side cluster
#network for OSD object replication, heart beats, backfilling,
#recovery, etc.
#public network = {network}[, {network}]
#cluster network = {network}[, {network}]

#Choose reasonable numbers for your journals, number of replicas
#and placement groups.
#osd journal size = {n}
#osd pool default size = {n}  # Write an object n times.
#osd pool default min size = {n} # Allow writing n copy in a degraded state.
#osd pool default pg num = {n}
#osd pool default pgp num = {n}
